
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;  
}

body {
  font-family: 'Lato';
   -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;  

  padding:0;
  margin:0;

  background-image:url("../img/hexbg.jpg");
}


/* NAVBAR */
/*###################################################################*/

#navbar {
  display: flex;
  flex-direction: row;

  align-items:center;
  justify-content: center;

  background-color:rgba(30, 30, 30, 0.75);   
  
  max-height:5vh;
  min-height:5vh;

  border-bottom:thin solid black;    
}

.nav_item {
  display:flex;  
  align-items:center;
  justify-content: center;

  height:5vh;
  width:20vh;
  margin:0;  
  padding:0;
  background-color:rgba(255,255,255,0);

  border-left:thin solid rgba(255,255,255,0.1);
  border-right:thin solid rgba(255,255,255,0.1);


  color:#AFAFAF;

}

.nav_item:hover {
  background-color:rgba(255,255,255,0.1);
}

/* CONTENT */
/*###################################################################*/

#content {
  background-color:transparent;
  max-height:94vh;
  min-height:94vh;
  opacity:1;
}

.main_banner {  
     
  height:94vh;
  border:thick double gray;
  /*background-image:url("../img/overlay_1.png"), url("../img/gungeon.jpg");*/
  background-size:cover;
  opacity:1;

  overflow:hidden;

}

#unitycontainer {
  display:flex;
  
  min-height:50vh;
  max-height:50vh;

  width:90vw;

  margin:0;
  padding:0;

}

/* GAME */
/*###################################################################*/

.webgl-content * {
  border: 0; 
  margin: 0; 
  padding: 0
}

.webgl-content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
}

.webgl-content .logo, .progress {
  position: absolute; 
  left: 50%; 
  top: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
}

.webgl-content .logo {
  background: url('../GAME/progressLogo.Light.png') no-repeat center / contain; 
  width: 154px; 
  height: 130px;
}

.webgl-content .progress {
  height: 18px; 
  width: 141px; 
  margin-top: 90px;
}

.webgl-content .progress .empty {
  background: url('../GAME/progressEmpty.Light.png') no-repeat right / cover; 
  float: right; 
  width: 100%; 
  height: 100%; 
  display: inline-block;
}

.webgl-content .progress .full {
  background: url('../GAME/progressFull.Light.png') no-repeat left / cover; 
  float: left; 
  width: 0%; 
  height: 100%; 
  display: inline-block;
}

.webgl-content .logo.Dark {background-image: url('../GAME/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('../GAME/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('../GAME/progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('../GAME/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('../GAME/fullscreen.png'); width: 38px; float: right;}


/* FOOTER */
/*###################################################################*/

#foot {
  background-color:#38425c;
  max-height:1vh;
  min-height:1vh;
}




