* { 
	margin: 0; 	
	padding: 0; 
	height:auto;
	width:auto;
}

body {

	background-color:yellow;
	background:url("img/hexbg.jpg") no-repeat;
	background-size: cover;
	margin: 0 auto;
}

/* HEAD?FOOT */

#headfoot {

	background-color: #2A2A2A;
	height: 1.5em;
	width: 100%;	
}

#headfoot {
	top:0;
	border-bottom: thick ridge #A2A2A2;
	position:fixed;
	height:4.5em;
	background-color:#A2A2A2;
}

/* BODY */

#body {

	background-color : transparent;
	height : 100%;
	width : 100%;
	position : absolute;
	top : 2.5em;	
	overflow-x:scroll;
	overflow-y:hidden;
	padding-top:5em;		

}

#container1, #container2 {

	height: 20%;
	padding-left: 1%;
	padding-right: 1%;		
	margin-top: 1%;

}

#container1 {

	background-color:red;

	
}

#container2 {

	background-color:transparent;	
}

#title {
	display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 50%;    
    height: 50%;
}






