div.player {
  width:100px;
  height:100px;
  background-image:url(img/gungeon2.jpg);
  margin:0;
  padding:0;
  position:absolute;
}

#game-container {
  width:3000px;
  height:850px;
  color:#fff;
  background-color:clear;
}


.footer {
  position: fixed;
  left:0;
  bottom:0;
  width: 100%;
  background-color:gray;
  color:white;
}

