body {
  width:3010px;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}


div.player {
  width:50px;
  height:70px;
  background-color:gray;
  background-image:url(img/Sprites/Idle.png);
  background-position: -160px -60px;
  margin:0;
  padding:0;
  position:absolute;
}

# ================================================

div.test {
  width:50px;
  height:70px;
  background-color:gray;
  background-image:url(img/Sprites/Idle.png);
}



div.player {
  width:50px;
  height:70px;
  background-color:gray;
  background-image:url(img/Sprites/Idle.png);
  background-position: -160px -60px;
  margin:0;
  padding:0;
  position:absolute;
}

#game-container {

  width:3000px;
  height:875px;
  color:#fff;
  background-color:blue;
}

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  color:black;
  background-color:#AFAFAF;
  height:100%;
}

.horizontal-item {
  float:left;
  display:inline-block;
  text-align:center;
  padding-top:100px;
  text-decoration:none;
  width:600px;
  height:100%;
}

.horizontal-item p {
  padding-left:10%;
  padding-right:10%;
}

#section-1 {
  float:center;
}

#section-2 {

}

#section-3 {

}

#section-4 {

}

#section-5 {

}


.footer {
  position: fixed;
  left:0;
  bottom:0;
  width: 100%;
  background-color:gray;
  color:white;
}

